In [1]:
s = input()
i = 0
count = 0
sum = 0
while i<len(s):
    if s[i].isdigit():
        count += 1
        sum += int(s[i])
    i += 1
print("count is:",count,"sum of digits is:",sum)

sdfg345f567
count is: 6 sum of digits is: 30

In [3]:
n = int(input("enter a number"))
for i in range(1,n+1,2):
    print(i,end=" ")

enter a number10
1 3 5 7 9

In [4]:
s = input()
i = 0
while i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

python
p y t h o n
p y t h o n
p y t h o n

##list
1. for creating a list use []
2. list are mutable
3. list are indexed
4. list are ordered
5. list allows duplicate values
6. it strores heterogenous values

In [12]:
list1 = [23,34,456,56,67,"string",True,[1,8,9]]
print(list1[-1])
print(list1[2:4])
print(list1[5][::-1])
print(list1[-1][1])

[1, 8, 9]
[456, 56]
gnirts
8

In [13]:
list1 = [34,45,56,67]
print("before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("after adding elements:",list1)

before adding elements: [34, 45, 56, 67]
after adding elements: [34, 45, 56, 67, 100, 200, 300]

In [14]:
list1.insert(1,400)
list1

[34, 400, 45, 56, 67, 100, 200, 300]

In [15]:
list1.extend([1,2,3])

In [16]:
#removing elements from the list
#list1.pop
#list1.remove
list1.clear()
print(list1)

[]

In [17]:
#sorting a list
list1 = [34,56,7,68,79,2,45,67] 
list1.sort(reverse = True)
list1

[79, 68, 67, 56, 45, 34, 7, 2]

In [18]:
#reversing a list
list1.reverse()
list1

[2, 7, 34, 45, 56, 67, 68, 79]

In [20]:
list1.index(56)

4

In [21]:
list1.count(45)

1

In [22]:
list2 = list1
print(list1," ",list2)

[2, 7, 34, 45, 56, 67, 68, 79]   [2, 7, 34, 45, 56, 67, 68, 79]

In [23]:
list3 = list1.copy()
list3

[2, 7, 34, 45, 56, 67, 68, 79]

In [ ]:
list3 = [2,4,5,7,8]

In [24]:
2**2

4

In [27]:
l1 = [2,4,5,7,8]
l2 = []
l3 = []
for i in range(0,len(l1)):
    l2.append(l1[i]**2)
print(l2)
for i in l1: 
    l3.append(i**2)
print(l3)

[4, 16, 25, 49, 64]
[4, 16, 25, 49, 64]

In [31]:
l1 = [2,3,4,5,6]
l2 = []
for i in range(0,len(l1)):
    if l1[i]%2 == 0:
        l2.append(l1[i])
print(l2)

[2, 4, 6]

# dictionary
1. key should be unique
2. key should be immutable

In [32]:
#syntax{key1:value1,key2:value2.........}
dict1={"name":"preethi","course":"python","address":"hyderabad"}
dict1["course"]

'python'

In [33]:
#replace values
dict1["course"] = "c programming"
print(dict1)

{'name': 'preethi', 'course': 'c programming', 'address': 'hyderabad'}

In [34]:
#adding entry
dict1["college"] = "GITAM"
print(dict1)

{'name': 'preethi', 'course': 'c programming', 'address': 'hyderabad', 'college': 'GITAM'}

In [35]:
#remove entry
del dict1["address"]
print(dict1)

{'name': 'preethi', 'course': 'c programming', 'college': 'GITAM'}

## function:
## def name_of_the_function(arg list):
####     statements
####     return

In [37]:
def add(x,y):#function definition
    return x+y
print(add(10,20))#function calling
print(add(100,200))

30
300

In [38]:
def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(cube(3))

27